@import "systems/a-star-wars-ui.css";
@import "systems/improve-mandar.css";
@import 'privacy-button.css';
/*@import 'pause-icon-config.css';*/

@font-face {
    font-family: "Teko";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/teko/v15/LYjNdG7kmE0gTaQ.ttf)
      format("truetype");
  }
  @font-face {
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVj2ZhZI2eCN5jzbjEETS9weq8-19e7CA.ttf)
      format("truetype");
  }
  @font-face {
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVg2ZhZI2eCN5jzbjEETS9weq8-19eDtCYYag.ttf)
      format("truetype");
  }
  @font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVl2ZhZI2eCN5jzbjEETS9weq8-59U.ttf)
      format("truetype");
  }
  @font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meKCM.ttf)
      format("truetype");
  }
  :root {
    --color-text-dark-primary: #afafaf;
    --color-text-hyperlink: #f7e06e;
    --color-border-highlight: #0077af;
  }
  body {
    scrollbar-color: #00273f transparent;
    scrollbar-width: thin;
    font-family: "Roboto Condensed", sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border: none;
    margin: 1rem 0 0;
  }
  h1, 
  h2 {
    color: #f7e06e;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    background: #00273f;
    text-shadow: var(--text-shadow);
    box-shadow: var(--glassy);
}
  p {
    margin: 0 0 0.5em;
  }
  strong {
    color: #f7e06e;
  }
  section.secret {
    border-color: #911308;
    background-color: #300603;
    padding-top: 4px;
    font-weight: thin;
    margin: 4px 0;
    display: flex;
    flex-direction: column;
  }
  section.secret button.reveal {
    margin-left: auto;
    margin-top: 0px;
    border: none;
    background-color: #911308;
    color: #dfdfdf;
  }
  section.secret button.reveal:hover {
    background-color: #f2200d;
    color: white;
  }
  img {
    border-style: none;
  }
  img#logo {
    display: none;
  }
  nav#navigation {
    left: 20px;
  }
  .app {
    background-image: none;
    background-color: #0f0f0fef;
    border-radius: 20px;
    color: #dfdfdf;
  }
  .app .window-header {
    background-color: #00273f;
    border-radius: 15px;
    border-bottom: none;
    margin: 5px;
  }
  .app .window-content {
    background-image: none !important;
    background-color: transparent;
    color: #dfdfdf;
  }
  .minimized.window-header {
    margin: 0px;
  }
  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="date"],
  input[type="time"],
  select,
  textarea {
    color: #f7e06e;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: #00273f;
  }
  input[type="text"]:hover,
  input[type="number"]:hover,
  input[type="password"]:hover,
  input[type="date"]:hover,
  input[type="time"]:hover,
  select:hover,
  textarea:hover {
    border-color: var(--color-cool-3);
  }
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="time"]:focus,
  select:focus,
  textarea:focus {
    background: var(--color-cool-4);
    outline: 1px solid var(--color-cool-3);
    color: var(--color-warm-1);
    text-shadow: var(--text-shadow);
  }
  textarea {
    border-color: #00273f;
  }
  textarea:focus {
    box-shadow: unset;
  }
  .dark input {
    background: none;
    color: #f7e06e;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: #00273f;
  }
  .dark input:hover {
    border-color: #004f7f;
  }
  .dark input:focus {
    background-color: #004f7f3f;
    box-shadow: none;
  }
  option {
    color: #f7e06e;
    background-color: #0f0f0fef;
  }
  .sta.sheet.item option {
    color: #f7e06e;
    background-color: #0f0f0fef;
  }
  button {
    background-color: #0077af;
    border: none;
    border-radius: 15px;
    text-transform: uppercase;
    --text-shadow: 0px 0px 1px black;
    text-shadow: var(--text-shadow);
    box-shadow: var(--glassy);
}
  button:hover {
    background-color: #009dff;
    box-shadow: var(--glassy);
  }
  button:focus {
    box-shadow: none;
  }
  form button {
    background-color: #0077af;
    border: none;
    border-radius: 15px;
  }
  form button:hover {
    background-color: #009dff;
    box-shadow: none;
  }
  form button:focus {
    box-shadow: none;
  }
  .dark button {
    background-color: #0077af;
    border: none;
    border-radius: 15px;
  }
  .dark button:hover {
    background-color: #009dff;
    box-shadow: none;
  }
  .dark button:focus {
    box-shadow: none;
  }
  .filepicker .current-dir button {
    background-color: #0077af;
    border: none;
    border-radius: 15px;
  }
  .filepicker .current-dir button:hover {
    background-color: #009dff;
    box-shadow: none;
  }
  .filepicker .current-dir button:focus {
    box-shadow: none;
  }
  a:hover {
    color: #fcf5cf;
    text-shadow: none;
  }
  a.content-link {
    background: #0077af;
    color: black;
    margin: 1px 0px;
    padding: 0px 4px;
    border: none;
    border-radius: 8px;
  }
  a.content-link i {
    color: black;
  }
  a.content-link:hover {
    background: #009dff;
  }
  form .notes,
  form .hint {
    color: #afafaf;
  }
  .tox {
    background-color: #dfdfdf;
  }
  .tabs .item.active {
    color: #f7e06e;
    text-shadow: unset;
  }
  .tabs .item.active:hover {
    color: #fcf5cf;
  }
  .tabs .item:hover {
    color: #009dff;
  }
  .filepicker .display-modes a {
    background-color: #0077af;
    border: unset;
    color: black;
    flex: 1 0 20px;
    margin-left: 3px;
    flex: 1;
  }
  .filepicker .display-modes a.active {
    background-color: #f7e06e;
    border: unset;
    text-shadow: unset;
  }
  .filepicker .display-modes a.active:hover {
    background-color: #fcf5cf;
  }
  .filepicker .display-modes a:hover {
    background-color: #009dff;
  }
  .filepicker .directory > li {
    color: #dfdfdf;
  }
  .filepicker .directory > li:hover {
    color: white;
    text-shadow: unset;
  }
  .filepicker .directory > li.picked {
    color: #f7e06e;
  }
  .filepicker .directory > li.picked:hover {
    color: white;
  }
  .folder-edit .window-content form input,
  .folder-create .window-content form input {
    color: #f7e06e;
  }
  .folder-edit .window-content form button,
  .folder-create .window-content form button {
    background-color: #0077af;
    border: none;
    border-radius: 15px;
  }
  .folder-edit .window-content form button:hover,
  .folder-create .window-content form button:hover {
    background-color: #009dff;
    box-shadow: none;
  }
  .folder-edit .window-content form button:focus,
  .folder-create .window-content form button:focus {
    box-shadow: none;
  }
  #sidebar {
    height: 100%;
    right: 0px;
    top: 0px;
    margin: 0px;
  }
  #sidebar:not(.collapsed) {
    background: unset;
    background-color: #0f0f0fef;
    border-radius: 0px;
    width: 300px;
  }
  #sidebar:not(.collapsed) > #sidebar-tabs {
    margin-left: unset;
  }
  #sidebar:not(.collapsed) > #sidebar-tabs > .item {
    background-color: #0077af;
    border: unset;
    color: black;
    flex: 1 0 20px;
    margin-left: 3px;
  }
  #sidebar:not(.collapsed) > #sidebar-tabs > .item.active {
    background-color: #f7e06e;
    border: unset;
    text-shadow: unset;
  }
  #sidebar:not(.collapsed) > #sidebar-tabs > .item.active:hover {
    background-color: #fcf5cf;
  }
  #sidebar:not(.collapsed) > #sidebar-tabs > .item:hover {
    background-color: #009dff;
  }
  #sidebar:not(.collapsed) > #sidebar-tabs > .item:nth-child(odd):hover {
    background-color: #009dff;
  }
  #sidebar:not(.collapsed) > #sidebar-tabs > .item.active :hover {
    background-color: #fcf5cf;
  }
  #sidebar:not(.collapsed) > #sidebar-tabs > .item.active:nth-child(odd):hover {
    background-color: #fcf5cf;
  }
  #sidebar:not(.collapsed) > #sidebar-tabs > .collapse {
    background-color: #0077af;
    border: unset;
    color: black;
    flex: 1 0 20px;
    margin-left: 3px;
    margin: 0 3px;
  }
  #sidebar:not(.collapsed) > #sidebar-tabs > .collapse.active {
    background-color: #f7e06e;
    border: unset;
    text-shadow: unset;
  }
  #sidebar:not(.collapsed) > #sidebar-tabs > .collapse.active:hover {
    background-color: #fcf5cf;
  }
  #sidebar:not(.collapsed) > #sidebar-tabs > .collapse:hover {
    background-color: #009dff;
  }
  #sidebar:not(.collapsed) ~ .sta.tracker-container {
    right: 304px;
  }
  #sidebar::before,
  #sidebar::after {
    all: unset;
  }
  #sidebar.collapsed {
    border: none;
  }
  #sidebar.collapsed > #sidebar-tabs {
    margin-left: unset;
  }
  #sidebar.collapsed > #sidebar-tabs > .item {
    background-color: #0077af;
    border: unset;
    color: black;
    flex: 1 0 20px;
    margin-left: 3px;
    margin: 0 0 3px;
  }
  #sidebar.collapsed > #sidebar-tabs > .item.active {
    background-color: #f7e06e;
    border: unset;
    text-shadow: unset;
  }
  #sidebar.collapsed > #sidebar-tabs > .item.active:hover {
    background-color: #fcf5cf;
  }
  #sidebar.collapsed > #sidebar-tabs > .item:hover {
    background-color: #009dff;
  }
  #sidebar.collapsed > #sidebar-tabs > .item.active {
    border-radius: 0;
  }
  #sidebar.collapsed > #sidebar-tabs > .collapse {
    background-color: #0077af;
    border: unset;
    color: black;
    flex: 1 0 20px;
    margin-left: 3px;
    margin: 0;
  }
  #sidebar.collapsed > #sidebar-tabs > .collapse.active {
    background-color: #f7e06e;
    border: unset;
    text-shadow: unset;
  }
  #sidebar.collapsed > #sidebar-tabs > .collapse.active:hover {
    background-color: #fcf5cf;
  }
  #sidebar.collapsed > #sidebar-tabs > .collapse:hover {
    background-color: #009dff;
  }
  #sidebar .sidebar-tab {
    margin-left: unset;
    background: unset;
    border-top: unset;
  }
  #sidebar .sidebar-tab .directory-header .create-entity,
  #sidebar .sidebar-tab .directory-header .create-folder {
    background-color: #0077af;
    border: none;
    border-radius: 15px;
    font-weight: unset;
  }
  #sidebar .sidebar-tab .directory-header .create-entity:hover,
  #sidebar .sidebar-tab .directory-header .create-folder:hover {
    background-color: #009dff;
    box-shadow: none;
  }
  #sidebar .sidebar-tab .directory-header .create-entity:focus,
  #sidebar .sidebar-tab .directory-header .create-folder:focus {
    box-shadow: none;
  }
  #chat-log .chat-message {
    background-color: transparent;
    border: 0px none;
    border-radius: 0px;
    padding: 0px;
    margin: 8px 2px;
    color: #dfdfdf;
  }
  #chat-log .chat-message .message-header {
    border-radius: 8px 0px 0px 0px;
    background-color: #00273f;
    padding: 0 4px 0 8px;
    color: white;
  }
  #chat-log .chat-message .message-content {
    border-left: 4px solid #00273f;
    border-radius: 0px;
    padding: 4px 4px 0px 4px;
    color: #dfdfdf;
  }
  #chat-log .chat-message .message-content .dice-roll .dice-formula,
  #chat-log .chat-message .message-content .dice-roll .dice-total {
    border: unset;
    border-radius: unset;
    box-shadow: unset;
  }
  #chat-log .chat-message .message-content .dice-roll .dice-formula {
    line-height: 16px;
  }
  #chat-log .chat-message .message-content .dice-roll .dice-formula.title {
    height: 45px;
    line-height: 45px;
  }
  #chat-log .chat-message .message-content .dice-roll .dice-formula.title img {
    margin-right: 4px;
  }
  #chat-log .chat-message .message-content .dice-roll .dice-total {
    color: #f7e06e;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: unset;
  }
  #chat-log .chat-message .message-content .dice-roll .dice-total.failure {
    color: #f54d3d;
  }
  #chat-log .chat-message .message-content .reroll-result {
    background-color: unset;
    margin-top: 0px;
    color: #0077af;
  }
  #chat-log .chat-message .message-content .reroll-result:hover {
    background-color: unset;
    color: #009dff;
  }
  #chat-log .chat-message .table-draw .table-description {
    border: none;
    color: #dfdfdf;
  }
  #chat-log .chat-message .table-draw .result-text a.entity-link {
    background: #0077af;
  }
  #chat-log .chat-message .table-draw img.result-image {
    background: none;
  }
  #chat-controls .roll-type-select {
    background: #000;
  }
  #chat-controls .control-buttons a {
    background-color: unset;
    color: #0077af;
  }
  #chat-controls .control-buttons a:hover {
    color: #009dff;
  }
  #chat-form textarea {
    color: #f7e06e;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: #00273f;
    background: #000;
  }
  #chat-form textarea:hover {
    border-color: #004f7f;
  }
  #chat-form textarea:focus {
    background-color: #004f7f3f;
    box-shadow: none;
  }
  .directory .directory-header .header-search input {
    background: #000;
  }
  #context-menu li.context-item:hover {
    text-shadow: unset;
    background-color: #00273f;
  }
  .sta.tracker-container {
    right: 300px;
    bottom: 67px;
    display: flex;
    flex-direction: column;
    background-color: #0f0f0fef;
    border-radius: unset;
    border-top-left-radius: 20px;
    height: unset;
  }
  .sta.tracker-container .tracker-clickable {
    width: 25px;
    height: 30px;
    top: 5px;
    right: 0px;
    bottom: unset;
    z-index: 5;
  }
  .sta.tracker-container .tracker-clickable i.fas {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    color: #dfdfdf;
  }
  .sta.tracker-container .tracker-clickable i.fas:hover {
    color: #f7e06e;
  }
  .sta.tracker-container .tracker {
    position: unset;
    width: 170px;
    height: unset;
    margin: 5px;
    border-radius: unset;
  }
  .sta.tracker-container .tracker.momentum {
    background: unset;
    bottom: unset;
  }
  .sta.tracker-container .tracker.momentum .button-group {
    border-color: #00273f;
  }
  .sta.tracker-container .tracker.threat {
    background: unset;
    bottom: unset;
  }
  .sta.tracker-container .tracker.threat .button-group {
    border-color: #300603;
  }
  .sta.tracker-container .tracker.threat .button-group .button {
    background-color: #911308;
  }
  .sta.tracker-container .tracker.threat .button-group .button:hover {
    background-color: #f2200d;
  }
  .sta.tracker-container .tracker.threat .button-group .input {
    color: #f54d3d;
  }
  .sta.tracker-container .tracker.threat .header {
    border-color: #300603;
  }
  .sta.tracker-container .tracker .button-group {
    display: flex;
    flex-direction: row;
    background-color: unset;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-width: 0px 25px;
    border-style: solid;
    margin: unset;
    width: 170px;
    height: 30px;
  }
  .sta.tracker-container .tracker .button-group .button {
    border-radius: 0px;
    flex-shrink: 0;
    color: black;
    width: 39px;
    margin: 0px 3px;
    text-align: center;
    vertical-align: middle;
  }
  .sta.tracker-container .tracker .button-group .button.decrease,
  .sta.tracker-container .tracker .button-group .button.increase {
    padding: 0px;
  }
  .sta.tracker-container .tracker .button-group .button i {
    text-align: center;
    vertical-align: middle;
  }
  .sta.tracker-container .tracker .button-group .button i:hover {
    cursor: unset;
    color: unset;
  }
  .sta.tracker-container .tracker .button-group input {
    margin: 0px;
    flex-grow: 1;
    color: #f7e06e;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    color: #3fafff;
    font-size: 28px;
    height: 28px;
    padding: 0px;
    margin: 2px 0px 0px 0px;
  }
  .sta.tracker-container .tracker .header {
    color: #f7e06e;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    border-radius: unset;
    border: solid #00273f;
    border-width: 0px 0px 0px 6px;
    padding-right: 6px;
    background-color: unset;
    margin: unset;
    width: unset;
    font-size: 20px;
    height: 25px;
  }
  .left-halfcircle-border {
    border-radius: 18px 0 0 18px;
    border-width: 0 0 0 18px;
    box-shadow: unset;
    padding-left: 0px;
  }
  .right-bar-border {
    border-radius: unset;
    border-width: 0 8px 0 0;
    border-style: solid;
    box-shadow: unset;
    padding-right: 0px;
  }
  #controls {
    padding: 5px 2px;
  }
  #controls ol.control-tools.main-controls {
    margin-left: 5px;
    margin-right: 0;
    border-radius: unset;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }
  #controls ol.control-tools > li {
    box-sizing: border-box;
    width: 57px;
    background-color: transparent;
    border: unset;
    border-color: transparent;
    border-image-width: 0px;
    text-align: start;
    box-shadow: unset;
    padding-left: 18px;
    margin-bottom: 5px;
  }
  #controls ol.control-tools > li > i.fas,
  #controls ol.control-tools > li i.far,
  #controls ol.control-tools > li i.fa-solid,
  #controls ol.control-tools > li i.fa-regular {
    box-sizing: content-box;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: black;
    background-color: #0077af;
    text-align: center;
    vertical-align: top;
    margin-left: 3px;
  }
  #controls ol.control-tools > li.active {
    border-radius: 18px 0 0 18px;
    border-width: 0 0 0 18px;
    box-shadow: unset;
    padding-left: 0px;
    border-color: #f7e06e;
  }
  #controls ol.control-tools > li.active > i.fas,
  #controls ol.control-tools > li.active i.far,
  #controls ol.control-tools > li.active i.fa-solid,
  #controls ol.control-tools > li.active i.fa-regular {
    background-color: #f7e06e;
  }
  #controls ol.control-tools > li:hover {
    border-radius: 18px 0 0 18px;
    border-width: 0 0 0 18px;
    box-shadow: unset;
    padding-left: 0px;
    border-color: #009dff;
  }
  #controls ol.control-tools > li:hover > i.fas,
  #controls ol.control-tools > li:hover i.far,
  #controls ol.control-tools > li:hover i.fa-solid,
  #controls ol.control-tools > li:hover i.fa-regular {
    background-color: #009dff;
  }
  #controls ol.control-tools > li:hover.active {
    border-radius: 18px 0 0 18px;
    border-width: 0 0 0 18px;
    box-shadow: unset;
    padding-left: 0px;
    border-color: #fcf5cf;
  }
  #controls ol.control-tools > li:hover.active > i.fas,
  #controls ol.control-tools > li:hover.active i.far,
  #controls ol.control-tools > li:hover.active i.fa-solid,
  #controls ol.control-tools > li:hover.active i.fa-regular {
    background-color: #fcf5cf;
  }
  #controls ol.sub-controls.active {
    margin-left: 3px;
    border-radius: unset;
    width: fit-content;
    display: flex;
    flex-direction: column;
  }
  #controls ol.sub-controls.active .control-tool {
    box-sizing: border-box;
    width: 47px;
    background-color: transparent;
    border: unset;
    border-color: transparent;
    border-image-width: 0px;
    text-align: start;
    box-shadow: unset;
    padding: 0 8px 0 0;
    margin: 0 0 5px 0;
  }
  #controls ol.sub-controls.active .control-tool > i.fas,
  #controls ol.sub-controls.active .control-tool i.far,
  #controls ol.sub-controls.active .control-tool i.fa-solid,
  #controls ol.sub-controls.active .control-tool i.fa-regular {
    box-sizing: content-box;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: black;
    background-color: #0077af;
    text-align: center;
    vertical-align: top;
    margin-left: 0px;
  }
  #controls ol.sub-controls.active .control-tool.active {
    border-radius: unset;
    border-width: 0 8px 0 0;
    border-style: solid;
    box-shadow: unset;
    padding-right: 0px;
    border-color: #f7e06e;
  }
  #controls ol.sub-controls.active .control-tool.active > i.fas,
  #controls ol.sub-controls.active .control-tool.active i.far,
  #controls ol.sub-controls.active .control-tool.active i.fa-solid,
  #controls ol.sub-controls.active .control-tool.active i.fa-regular {
    background-color: #f7e06e;
  }
  #controls ol.sub-controls.active .control-tool:hover {
    border-radius: unset;
    border-width: 0 8px 0 0;
    border-style: solid;
    box-shadow: unset;
    padding-right: 0px;
    border-color: #009dff;
  }
  #controls ol.sub-controls.active .control-tool:hover > i.fas,
  #controls ol.sub-controls.active .control-tool:hover i.far,
  #controls ol.sub-controls.active .control-tool:hover i.fa-solid,
  #controls ol.sub-controls.active .control-tool:hover i.fa-regular {
    background-color: #009dff;
  }
  #controls ol.sub-controls.active .control-tool:hover.active {
    border-radius: unset;
    border-width: 0 8px 0 0;
    border-style: solid;
    box-shadow: unset;
    padding-right: 0px;
    border-color: #fcf5cf;
  }
  #controls ol.sub-controls.active .control-tool:hover.active > i.fas,
  #controls ol.sub-controls.active .control-tool:hover.active i.far,
  #controls ol.sub-controls.active .control-tool:hover.active i.fa-solid,
  #controls ol.sub-controls.active .control-tool:hover.active i.fa-regular {
    background-color: #fcf5cf;
  }
  #controls ol.sub-controls.active .control-tool.toggle > i.fas,
  #controls ol.sub-controls.active .control-tool.toggle i.far,
  #controls ol.sub-controls.active .control-tool.toggle i.fa-solid,
  #controls ol.sub-controls.active .control-tool.toggle i.fa-regular {
    box-sizing: border-box;
    border: 2px solid #0077af;
    background-color: #0f0f0f7f;
    color: #0077af;
  }
  #controls ol.sub-controls.active .control-tool.toggle.active {
    border-radius: unset;
    border-width: 0 8px 0 0;
    border-style: solid;
    box-shadow: unset;
    padding-right: 0px;
    border-color: #f7e06e;
  }
  #controls ol.sub-controls.active .control-tool.toggle.active > i.fas,
  #controls ol.sub-controls.active .control-tool.toggle.active i.far,
  #controls ol.sub-controls.active .control-tool.toggle.active i.fa-solid,
  #controls ol.sub-controls.active .control-tool.toggle.active i.fa-regular {
    border: 2px solid #f7e06e;
    background-color: #0f0f0f7f;
    color: #f7e06e;
  }
  #controls ol.sub-controls.active .control-tool.toggle.active > i.fas:hover,
  #controls ol.sub-controls.active .control-tool.toggle.active i.far:hover,
  #controls ol.sub-controls.active .control-tool.toggle.active i.fa-solid:hover,
  #controls
    ol.sub-controls.active
    .control-tool.toggle.active
    i.fa-regular:hover {
    border: 2px solid #fcf5cf;
    background-color: #0f0f0f7f;
    color: #fcf5cf;
  }
  #controls ol.sub-controls.active .control-tool.toggle.active:hover {
    border-color: #fcf5cf;
  }
  #controls ol.sub-controls.active .control-tool.toggle:hover {
    border-radius: unset;
    border-width: 0 8px 0 0;
    border-style: solid;
    box-shadow: unset;
    padding-right: 0px;
    border-color: #009dff;
  }
  #controls ol.sub-controls.active .control-tool.toggle:hover > i.fas,
  #controls ol.sub-controls.active .control-tool.toggle:hover i.far,
  #controls ol.sub-controls.active .control-tool.toggle:hover i.fa-solid,
  #controls ol.sub-controls.active .control-tool.toggle:hover i.fa-regular {
    border: 2px solid #009dff;
    background-color: #0f0f0f7f;
    color: #009dff;
  }
  #ui-top {
    margin-top: 5px;
  }
  #ui-top.offset {
    margin-left: -80px;
  }
  #ui-top.offset nav#navigation {
    margin-top: unset;
  }
  #ui-top.offset nav#navigation #nav-toggle {
    background: #0077af;
    border: none;
    border-radius: 17px 0 0 17px;
    color: black;
    margin-right: 3px;
  }
  #ui-top.offset nav#navigation #nav-toggle:hover {
    background: #009dff;
    text-shadow: none;
  }
  #ui-top.offset nav#navigation #scene-list .scene {
    border-radius: 0;
    border: unset;
    box-shadow: unset;
    background: #0077af;
    color: black;
    box-sizing: border-box;
    height: 34px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  #ui-top.offset nav#navigation #scene-list .scene:hover {
    background: #009dff;
    color: black;
  }
  #ui-top.offset nav#navigation #scene-list .scene a {
    color: unset;
  }
  #ui-top.offset nav#navigation #scene-list .scene a:hover {
    color: unset;
  }
  #ui-top.offset nav#navigation #scene-list .scene.gm {
    border: 2px solid #0077af;
    background-color: #0f0f0fef;
    color: #0077af;
  }
  #ui-top.offset nav#navigation #scene-list .scene.gm:hover {
    border-color: #009dff;
    color: #009dff;
  }
  #ui-top.offset nav#navigation #scene-list .scene.view {
    background: #f7e06e;
  }
  #ui-top.offset nav#navigation #scene-list .scene.view:hover {
    background: #fcf5cf;
  }
  #ui-top.offset nav#navigation #scene-list .scene.view.gm {
    border-color: #f7e06e;
    color: #f7e06e;
    background: #0f0f0fef;
  }
  #ui-top.offset nav#navigation #scene-list .scene.view.gm:hover {
    border-color: #fcf5cf;
    color: #fcf5cf;
  }
  #ui-top.offset nav#navigation #scene-list .scene.active {
    font-weight: bold;
    background: #3d8f81;
  }
  #ui-top.offset nav#navigation #scene-list .scene.active:hover {
    background: #70c2b4;
  }
  #ui-top.offset nav#navigation #scene-list .scene.active.view {
    background: #f7e06e;
  }
  #ui-top.offset nav#navigation #scene-list .scene.active.view:hover {
    background: #fcf5cf;
  }
  #ui-top.offset nav#navigation #scene-list .scene.active.view.gm {
    border-color: #f7e06e;
    color: #f7e06e;
    font-weight: normal;
    background: #0f0f0fef;
  }
  #ui-top.offset nav#navigation #scene-list .scene.active.view.gm:hover {
    border-color: #fcf5cf;
    color: #fcf5cf;
  }
  #ui-top.offset nav#navigation #scene-list .scene.active.gm {
    border-color: #3d8f81;
    color: #3d8f81;
    background: #0f0f0fef;
  }
  #ui-top.offset nav#navigation #scene-list .scene.active.gm:hover {
    border-color: #70c2b4;
    color: #70c2b4;
  }
  #keybindings .binding .key {
    background-color: #0077af;
    border: none;
    box-shadow: unset;
  }
  #keybindings .binding .key.uneditable {
    background: #00273f;
  }
  .sta {
    text-align: start;
  }
  .sta .window-content {
    background-image: none !important;
    background-color: transparent !important;
    color: #dfdfdf;
    padding: 8px;
  }
  .sta.sheet.item input[type="text"],
  .sta.sheet.item input[type="number"],
  .sta.sheet.item select {
    color: #f7e06e;
  }
  .sta.sheet.item .text,
  .sta.sheet.item .entry,
  .sta.sheet.item .editor,
  .sta.sheet.item .label {
    color: #dfdfdf;
  }
  .sta.sheet.item .editor {
    min-height: 50px;
  }
  .sta.sheet.item .editor .tox {
    min-height: 300px;
  }
  .sta.sheet.actor .main-content {
    background: unset !important;
    padding: 0;
  }
  .sta.sheet.actor .lcars-column {
    border-color: #00273f;
    border-radius: 12px 0 0 0;
    border-style: solid;
    border-width: 24px 0 0 6px;
    flex: 12px;
    flex-grow: 0;
    flex-shrink: 1;
  }
  .sta.sheet.actor .lcars-column .lcars-header-block1,
  .sta.sheet.actor .lcars-column .lcars-header-block2,
  .sta.sheet.actor .lcars-column .lcars-attribute-title-block,
  .sta.sheet.actor .lcars-column .lcars-attribute-general-block1,
  .sta.sheet.actor .lcars-column .lcars-attribute-general-block2,
  .sta.sheet.actor .lcars-column .lcars-attribute-general-block3,
  .sta.sheet.actor .lcars-column .lcars-item1-connect-block,
  .sta.sheet.actor .lcars-column .lcars-item2-connect-block,
  .sta.sheet.actor .lcars-column .lcars-item1-general-block,
  .sta.sheet.actor .lcars-column .lcars-item2-top-block,
  .sta.sheet.actor .lcars-column .lcars-item2-general-block1,
  .sta.sheet.actor .lcars-column .lcars-item2-general-block2,
  .sta.sheet.actor .lcars-column .lcars-header-extendedtask1,
  .sta.sheet.actor .lcars-column .lcars-header-extendedtask2,
  .sta.sheet.actor .lcars-column .lcars-header-extendedtask3,
  .sta.sheet.actor .lcars-column .lcars-header-extendedtask4,
  .sta.sheet.actor .lcars-column .lcars-body-extendedtask1,
  .sta.sheet.actor .lcars-column .lcars-body-extendedtask2 {
    background-color: #00273f;
    border-radius: unset;
    visibility: hidden;
  }
  .sta.sheet.actor .main > .row {
    margin-bottom: 8px;
    max-height: 308px;
  }
  .sta.sheet.actor .main > .row .column .section .header.row {
    background-color: unset;
    color: white;
    font-weight: unset;
    border: solid #00273f;
    border-width: 0 0 0 8px;
    margin-top: 4px;
  }
  .sta.sheet.actor .main > .row .column .section .title {
    color: #f7e06e;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    text-align: left;
    line-height: 24px;
    display: flex;
    margin-bottom: 4px;
  }
  .sta.sheet.actor .main > .row .column .section .title::before {
    content: "";
    flex-grow: 1;
    background-color: #00273f;
    margin-right: 8px;
  }
  .sta.sheet.actor .main > .row .column .section .title::after {
    content: "";
    width: 20px;
    background-color: #00273f;
    margin-left: 8px;
    border-radius: 0 15px 15px 0;
    border-color: #00273f;
    border-width: 0 20px 0 0;
  }
  .sta.sheet.actor .main > .row .column .section .stat.row {
    flex-direction: row-reverse;
    align-items: center;
  }
  .sta.sheet.actor .main > .row .column .section .check-button {
    color: #f7e06e;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    font-weight: unset;
    font-size: 24px;
    color: #0077af;
    text-align: center;
    background-color: transparent;
    border: solid #0077af;
    border-width: 0 20px;
    width: unset;
    margin: 8px 16px 4px;
  }
  .sta.sheet.actor .main > .row .column .section .check-button.btn2.challenge {
    color: #911308;
    border-color: #911308;
  }
  .sta.sheet.actor
    .main
    > .row
    .column
    .section
    .check-button.btn2.challenge:hover {
    color: #f2200d;
    border-color: #f2200d;
  }
  .sta.sheet.actor .main > .row .column .section .check-button.btn.attribute {
    border-color: #0077af;
  }
  .sta.sheet.actor
    .main
    > .row
    .column
    .section
    .check-button.btn.attribute:hover {
    color: #009dff;
    border-color: #009dff;
  }
  .sta.sheet.actor
    .main
    > .row
    .column
    .section
    .entry.row.talent-tooltip-container {
    border: unset;
  }
  .sta.sheet.actor
    .main
    > .row
    .column
    .section
    .entry.row.talent-tooltip-container
    .list-entry.talent-tooltip-text {
    font-size: 12px;
    color: #afafaf;
    line-height: unset;
  }
  .sta.sheet.actor .main > .row .column .section.scale,
  .sta.sheet.actor .main > .row .column .section.resistance {
    background-color: unset;
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .sta.sheet.actor .main > .row .column .section.scale .title,
  .sta.sheet.actor .main > .row .column .section.resistance .title {
    flex-grow: 1;
    background-color: unset;
    display: unset;
    text-align: right;
    margin-left: 0;
    margin-right: 8px;
    line-height: 30px;
  }
  .sta.sheet.actor .main > .row .column .section.scale .title::before,
  .sta.sheet.actor .main > .row .column .section.resistance .title::before,
  .sta.sheet.actor .main > .row .column .section.scale .title::after,
  .sta.sheet.actor .main > .row .column .section.resistance .title::after {
    all: unset;
  }
  .sta.sheet.actor .main > .row .column .section.scale .field.numeric-entry,
  .sta.sheet.actor .main > .row .column .section.resistance .field.numeric-entry {
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    color: #f7e06e;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: #00273f;
    flex-grow: 0;
    margin-right: 0;
    font-size: 24px;
  }
  .sta.sheet.actor .main > .row .column .section.scale .field.numeric-entry:hover,
  .sta.sheet.actor
    .main
    > .row
    .column
    .section.resistance
    .field.numeric-entry:hover {
    border-color: #004f7f;
  }
  .sta.sheet.actor .main > .row .column .section.scale .field.numeric-entry:focus,
  .sta.sheet.actor
    .main
    > .row
    .column
    .section.resistance
    .field.numeric-entry:focus {
    background-color: #004f7f3f;
    box-shadow: none;
  }
  .sta.sheet.actor .main > .row .column .section .row .control {
    color: #0077af;
  }
  .sta.sheet.actor .main > .row .column .section .row .control:hover {
    color: #009dff;
  }
  .sta.sheet.actor .main > .row .column .section .row .control .edit {
    color: #0077af;
  }
  .sta.sheet.actor .main > .row .column .section .row .control .edit:hover {
    color: #009dff;
  }
  .sta.sheet.actor .main > .row .column .section .row .control .delete {
    color: #911308;
  }
  .sta.sheet.actor .main > .row .column .section .row .control .delete:hover {
    color: #f2200d;
  }
  .sta.sheet.actor .main > .row .column .section.img {
    padding-top: 4px;
    text-align: center;
  }
  .sta.sheet.actor .main > .row .column.left-column,
  .sta.sheet.actor .main > .row .column.center-column,
  .sta.sheet.actor .main > .row .column.right-column {
    border: unset;
  }
  .sta.sheet.actor .main > .row .column.center-column,
  .sta.sheet.actor .main > .row .column.right-column {
    margin-left: 8px;
  }
  .sta.sheet.actor .main > .row:nth-child(1) .lcars-column {
    order: 0;
  }
  .sta.sheet.actor .main > .row:nth-child(1) .column.left-column {
    order: 2;
    margin-left: 8px;
  }
  .sta.sheet.actor .main > .row:nth-child(1) .column.center-column {
    order: 1;
    margin-left: 0px;
  }
  .sta.sheet.actor .main > .row:nth-child(1) .column.right-column {
    order: 3;
  }
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.discipline,
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.department {
    display: flex;
    flex-direction: column;
  }
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.discipline
    > div:nth-child(1),
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.department
    > div:nth-child(1) {
    order: 1;
  }
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.discipline
    > div:nth-child(2),
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.department
    > div:nth-child(2) {
    order: 2;
    margin-top: 0px;
  }
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.discipline
    > div:nth-child(3),
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.department
    > div:nth-child(3) {
    order: 3;
  }
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.discipline
    > div:nth-child(4),
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.department
    > div:nth-child(4) {
    order: 4;
  }
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.discipline
    > div:nth-child(5),
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.department
    > div:nth-child(5) {
    order: 6;
  }
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.discipline
    > div:nth-child(6),
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.department
    > div:nth-child(6) {
    order: 8;
  }
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.discipline
    > div:nth-child(7),
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.department
    > div:nth-child(7) {
    order: 7;
  }
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.discipline
    > div:nth-child(8),
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.department
    > div:nth-child(8) {
    order: 5;
  }
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.discipline
    > div:nth-child(9),
  .sta.sheet.actor
    .main
    > .row:nth-child(1)
    .column.right-column
    .section.department
    > div:nth-child(9) {
    order: 9;
  }
  .sta.sheet.actor .main-content > .header {
    margin-bottom: 8px;
  }
  .sta.sheet.actor .header-fields {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .sta.sheet.actor .header-fields .section.reputation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    order: 4;
  }
  .sta.sheet.actor .header-fields .section.reputation .title {
    width: fit-content;
    height: 14px;
    margin: 0 4px;
  }
  .sta.sheet.actor .header-fields .section.reputation .track {
    flex-grow: 1;
  }
  .sta.sheet.actor .header-fields .section.reputation .track .bar .box.rep {
    background-color: #00273f;
    color: #dfdfdf;
    flex-grow: 1;
  }
  .sta.sheet.actor .header-fields .section.reputation .track .bar .box.rep:hover {
    background-color: #004f7f;
  }
  .sta.sheet.actor
    .header-fields
    .section.reputation
    .track
    .bar
    .box.rep.selected {
    background-color: #0077af;
    color: black;
  }
  .sta.sheet.actor
    .header-fields
    .section.reputation
    .track
    .bar
    .box.rep.selected:hover {
    background-color: #009dff;
  }
  .sta.sheet.actor.character .header .lcars-column {
    border-color: #00273f;
    border-radius: 0 0 0 12px;
    border-style: solid;
    border-width: 0 0 14px 6px;
  }
  .sta.sheet.actor.character .header-fields .row:nth-child(odd) {
    margin-bottom: 8px;
  }
  .sta.sheet.actor.character .header-fields .row:nth-child(3) input {
    color: #f7e06e;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    height: 48px;
    line-height: 48px;
  }
  .sta.sheet.actor.starship .header .lcars-column,
  .sta.sheet.actor.smallcraft .header .lcars-column {
    border-color: #00273f;
    border-radius: 0 0 0 12px;
    border-style: solid;
    border-width: 0 0 26px 6px;
  }
  .sta.sheet.actor.starship .header-fields .row:nth-child(2),
  .sta.sheet.actor.smallcraft .header-fields .row:nth-child(2),
  .sta.sheet.actor.starship .header-fields .row:nth-child(4),
  .sta.sheet.actor.smallcraft .header-fields .row:nth-child(4) {
    margin-bottom: 8px;
  }
  .sta.sheet.actor.starship .header-fields .row:nth-child(2) input,
  .sta.sheet.actor.smallcraft .header-fields .row:nth-child(2) input {
    color: #f7e06e;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    height: 48px;
    line-height: 48px;
  }
  .sta.sheet.actor.smallcraft .header-fields .row:nth-child(4) {
    margin-bottom: 0;
  }
  .sta.sheet.actor.extendedtask .row:nth-child(1) .lcars-column {
    border-width: 0 0 0 6px;
    border-radius: 0;
  }
  .sta.sheet.actor.extendedtask
    .row:nth-child(1)
    .column-headerfields1-name-extendedtasks,
  .sta.sheet.actor.extendedtask
    .row:nth-child(1)
    .column-headerfields1-other-extendedtasks {
    padding: 0;
    width: unset;
  }
  .sta.sheet.actor.extendedtask
    .row:nth-child(1)
    .column-headerfields1-name-extendedtasks
    input,
  .sta.sheet.actor.extendedtask
    .row:nth-child(1)
    .column-headerfields1-other-extendedtasks
    input {
    color: #f7e06e;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    height: 48px;
    line-height: 48px;
  }
  .sta.sheet.actor.extendedtask
    .row:nth-child(1)
    .column-headerfields1-name-extendedtasks {
    flex-grow: 1;
    width: auto;
    margin-bottom: 8px;
  }
  .sta.sheet.actor.extendedtask
    .row:nth-child(1)
    .column-headerfields1-other-extendedtasks {
    flex-grow: 0;
    flex-shrink: 1;
    width: 60px;
  }
  .sta.sheet.actor.extendedtask
    .row:nth-child(1)
    .column-headerfields1-other-extendedtasks
    .numeric-entry {
    width: 100%;
    margin: unset;
  }
  .sta.sheet.actor.extendedtask
    .row:nth-child(1)
    .column-headerfields1-other-extendedtasks:nth-child(1) {
    margin-right: 1px;
  }
  .sta.sheet.actor.extendedtask .row:nth-child(2) {
    margin-bottom: 8px;
  }
  .sta.sheet.actor.extendedtask .row:nth-child(2) .lcars-column {
    border-color: #00273f;
    border-radius: 0 0 0 12px;
    border-style: solid;
    border-width: 0 0 26px 6px;
  }
  .sta.sheet.actor.extendedtask
    .row:nth-child(2)
    .column-headerfields2-extendedtasks {
    padding: 0;
    width: unset;
  }
  .sta.sheet.actor.extendedtask
    .row:nth-child(2)
    .column-headerfields2-extendedtasks
    .numeric-entry {
    width: 100%;
    margin: unset;
  }
  .sta.sheet.actor.extendedtask .row:nth-child(3) {
    display: none;
  }
  .sta.sheet.actor.extendedtask .row:nth-child(4) {
    border-color: #00273f;
    border-radius: 0 0 0 12px;
    border-style: solid;
    border-width: 0 0 24px 6px;
    content: "Progress";
    padding: 4px 0 0 2px;
  }
  .sta.sheet.actor.extendedtask .row:nth-child(4) .lcars-column {
    display: none;
  }
  .sta.sheet.actor.extendedtask .row .extendedtask-divider {
    display: none;
  }
  .sta.sheet.actor.extendedtask .row .track {
    flex-grow: 1;
    width: auto;
  }
  .sta.sheet.actor.extendedtask .row .track .row {
    margin-bottom: 4px;
    padding: 0px;
    border: none;
  }
  .sta.sheet.actor.extendedtask .row .track .box.extendedtask {
    color: #f7e06e;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    background-color: #0077af;
    color: black;
  }
  .sta.sheet.actor.extendedtask .row .track .box.extendedtask:hover {
    background-color: #009dff;
  }
  .sta.sheet.actor.extendedtask .row .track .box.extendedtask.selected {
    background-color: #f7e06e;
  }
  .sta.sheet.actor.extendedtask .row .track .box.extendedtask.selected:hover {
    background-color: #fcf5cf;
  }
  .sta.sheet.actor .title {
    color: #dfdfdf;
    font-size: 14px;
    text-align: start;
    vertical-align: bottom;
    height: unset;
  }
  .sta.sheet.actor .secondary-title {
    color: #dfdfdf;
  }
  .sta.sheet.actor .track .bar .box {
    border: unset;
    margin: 0 2px;
  }
  .sta.sheet.actor .track .bar .box:hover {
    box-shadow: unset;
  }
  .sta.sheet.actor .track .bar .box.stress,
  .sta.sheet.actor .track .bar .box.shields {
    background-color: #911308;
    color: black;
    flex-grow: 1;
  }
  .sta.sheet.actor .track .bar .box.stress:hover,
  .sta.sheet.actor .track .bar .box.shields:hover {
    background-color: #f2200d;
  }
  .sta.sheet.actor .track .bar .box.stress.selected,
  .sta.sheet.actor .track .bar .box.shields.selected {
    background-color: #0077af;
    color: black;
  }
  .sta.sheet.actor .track .bar .box.stress.selected:hover,
  .sta.sheet.actor .track .bar .box.shields.selected:hover {
    background-color: #009dff;
  }
  .sta.sheet.actor .track .bar .box.determination,
  .sta.sheet.actor .track .bar .box.power {
    background-color: #00273f;
    color: #dfdfdf;
    flex-grow: 1;
  }
  .sta.sheet.actor .track .bar .box.determination:hover,
  .sta.sheet.actor .track .bar .box.power:hover {
    background-color: #004f7f;
  }
  .sta.sheet.actor .track .bar .box.determination.selected,
  .sta.sheet.actor .track .bar .box.power.selected {
    background-color: #f7e06e;
    color: black;
  }
  .sta.sheet.actor .track .bar .box.determination.selected:hover,
  .sta.sheet.actor .track .bar .box.power.selected:hover {
    background-color: #fcf5cf;
  }
  .sta.sheet.actor .track .bar .box.crew {
    background-color: #3d8f81;
    color: #dfdfdf;
    flex-grow: 1;
  }
  .sta.sheet.actor .track .bar .box.crew:hover {
    background-color: #70c2b4;
  }
  .sta.sheet.actor .track .bar .box.crew.selected {
    background-color: #f7a76e;
    color: black;
  }
  .sta.sheet.actor .track .bar .box.crew.selected:hover {
    background-color: #fac49e;
  }
  .sta.sheet.actor .text-entry {
    color: #f7e06e;
  }
  .sta.sheet.actor .numeric-entry {
    color: #f7e06e;
    text-align: end;
  }
  .sta.sheet.actor .list-entry {
    color: #dfdfdf;
  }
  .sta.sheet.actor .row.entry {
    align-items: center;
  }
  .sta.sheet.actor .attribute .list-entry,
  .sta.sheet.actor .discipline .list-entry,
  .sta.sheet.actor .system .list-entry,
  .sta.sheet.actor .department .list-entry {
    text-align: center;
  }
  .sta.sheet.actor .main .row .column .section.note .header.row.item {
    display: none;
  }
  .sta.sheet.actor
    .main
    .row
    .column
    .section.note
    .header.row.item
    .one-column-no-roll {
    display: none;
  }
  .sta.sheet.actor .belongings .two-column-with-roll-secondary {
    text-align: end;
    margin-right: 4px;
  }
  .sta.sheet.actor .section.crew {
    margin-top: 8px;
  }
  .sta.sheet.actor .label {
    color: #dfdfdf;
  }
  .sta p {
    color: #dfdfdf;
  }
  .sta h4.list-entry {
    margin-top: unset;
  }
  .sheet.journal-entry .journal-entry-content {
    background: none;
    border: none;
  }
  .sta-form .label {
    color: #dfdfdf;
  }
  .sta-form .numeric-entry {
    color: #f7e06e;
    text-align: end;
  }
  .app.dialog .window-content .dialog-content {
    color: #dfdfdf;
    background-color: unset;
    padding: 0 13px;
  }
  .app.dialog .window-content .form-group input,
  .app.dialog .window-content .form-group select {
    color: #f7e06e;
  }
  .app.dialog .window-content .dialog-buttons {
    background-color: unset;
    margin: 5px;
  }
  .dialog > .window-content .dialog-button.roll.default,
  .dialog > .window-content .dialog-button.dialog-button.ok.default,
  .dialog > .window-content .dialog-button.dialog-button.yes,
  .dialog > .window-content .dialog-button.dialog-button.no {
    background-color: #0077af;
    color: black;
    font-weight: unset;
  }
  .dialog > .window-content .dialog-button.roll.default:hover,
  .dialog > .window-content .dialog-button.dialog-button.ok.default:hover,
  .dialog > .window-content .dialog-button.dialog-button.yes:hover,
  .dialog > .window-content .dialog-button.dialog-button.no:hover {
    background-color: #009dff;
  }
  .dialog .dialog-buttons button {
    background-color: #0077af;
    border: none;
    border-radius: 15px;
  }
  .dialog .dialog-buttons button:hover {
    background-color: #009dff;
    box-shadow: none;
  }
  .dialog .dialog-buttons button:focus {
    box-shadow: none;
  }
  .monks-active-tiles div[data-tab="triggers"] .action-items .action-style {
    color: #f7e06e;
  }
  .monks-active-tiles div[data-tab="triggers"] .action-items .value-style {
    color: white;
  }
  .monks-active-tiles div[data-tab="triggers"] .action-items .entity-style {
    color: white;
  }
  .monks-active-tiles.sheet .items-list .item .item-name {
    color: #dfdfdf;
  }
  .action-sheet .display-value {
    color: #f7e06e;
  }
  .prosemirror menu {
    background: none;
  }
  .prosemirror menu .pm-dropdown {
    background: #0077af;
    border-radius: 0 13px 13px 0;
    color: black;
  }
  .prosemirror menu .pm-dropdown i {
    color: black;
  }
  .prosemirror menu .pm-dropdown i:hover {
    color: black;
  }
  .prosemirror menu .pm-dropdown > i {
    color: black;
  }
  .prosemirror menu .pm-dropdown > i:hover {
    color: black;
  }
  .prosemirror menu .pm-dropdown ul {
    background-color: #3d8f81;
    border: none;
    border-radius: 0;
    padding: 0px;
  }
  .prosemirror menu .pm-dropdown li {
    background: none;
    border-radius: 0;
    margin: 0;
    padding: 2px 8px;
  }
  .prosemirror menu .pm-dropdown li:hover {
    background-color: #70c2b4;
  }
  .prosemirror menu button {
    background: #0077af;
    border-radius: 0px;
  }
  .prosemirror menu button:hover {
    background-color: #009dff;
  }
  .prosemirror menu button.active {
    background-color: #f7e06e;
  }
  .prosemirror menu button.active:hover {
    background-color: #fcf5cf;
}
  

/*Hotbar
************************/
#hotbar {
  transition: 0.5s ease-out 0.5s;
}
#hotbar .macro.inactive {
  background: var(--color-cool-5-75);
  border-radius: 50%;
  border: 2px solid var(--rpg-styled-ui-color);
  box-shadow: var(--glassy) 0px 0px 10px 0px;
}
#hotbar .macro.active {
  background: var(--color-cool-5-75);
  border-radius: 50%;
  border: 2px solid var(--rpg-styled-ui-color);
  box-shadow: var(--glassy) 0px 0px 10px 0px;
}
#hotbar .macro.active:hover {
  border: 2px solid var(--color-warm-2);
}
#hotbar .macro:hover {
  box-shadow: 0 0 10px var(--color-shadow-highlight) inset!important;
}
#hotbar .macro .macro-key {
  top: initial;
  bottom: 2px;
  z-index: 3;
  color: var(--red-light);
  background: none;
  text-shadow: var(--text-shadow);
}
#hotbar .macro .macro-icon {
  position: relative;
  z-index: 2;
  border-radius: 50%;
}
#hotbar #macro-list {
  grid-gap: 8px;
  border:none;
}
#hotbar .bar-controls {
  color: var(--rpg-styled-ui-color);
  background: unset;
  border: unset;
  box-shadow: unset;
  text-shadow: var(--text-shadow);
}


/*Playlist
************************/
.playlists-sidebar h4 {
  text-shadow: (var(--text-shadow));
}
input[type=range]::-webkit-slider-runnable-track {
  box-shadow: unset;
  border-radius: 3px;
  background: var(--color-cool-5);
  border: 1px solid var(--color-cool-4);
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, var(--green)33%, var(--red-light));
}
input[type=range]::-webkit-slider-thumb {
  border-radius: 50%;
  box-shadow: unset;
}
input[type=range]:disabled::-webkit-slider-thumb {
  background: var(--color-cool-3);
  border: 1px solid var(--color-cool-4);
  background: var(--color-cool-4);
  border: 1px solid var(--color-cool-3);
}
input[type=range]:not(:disabled)::-webkit-slider-thumb {
  background: var(--color-warm-2);
  border: 1px solid var(--color-warm-1);
  transition: outline 0.15s;
}
input[type=range]:not(:disabled)::-webkit-slider-thumb:hover {
  background: var(--color-warm-3);
}
.playlists-sidebar .sound-control[data-action="sound-stop"] {
  color: var(--color-warm-2);
  transition: outline 0.15s;
}
.playlists-sidebar .sound-control[data-action="sound-stop"]:hover {
  color: var(--color-warm-1);
}
.playlists-sidebar .sound-control {
  color: var(--green);
  transition: outline 0.15s;
}
.playlists-sidebar .sound-control:hover {
  color: var(--color-warm-2);
}