:root{
    --glassy: 0px 0px 3px 0px rgba(255, 255, 255, 0.4) inset, 0px 0px 2px 1px rgba(0, 0, 0, 1), 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    --glassy-shadow: var(--glassy) , var(--box-shadow);
    --glass-bg: rgba(20, 20, 20, 0.6);
    --glass-bg-light: rgba(255, 255, 255, 0.1);
    --glass-bg-dark: rgba(0, 0, 0, 0.7);
    --pf2e-shadow-is-dark: 0px 1px var(--pf2e-half-transparent-dark);
    --pf2e-translucent-middle: var(--pf2e-translucent-middle-for-light);
    --pf2e-translucent-middle-for-light: hsla(0, 0%, 80%,0.5);
    --pf2e-translucent-very: var(--pf2e-translucent-very-for-light);
    --pf2e-transcluent-very-for-light: hsla(0, 0%, 60%,0.2);
    --header-text-shadow: var(--pf2e-shadow-is-dark);
    --pf2e-shadow-is-dark: 0px 1px var(--pf2e-half-transparent-dark);
    --filter-dark: invert(100%) drop-shadow(0px 1px 1px black);
    --pf2e-half-transparent-dark: hsla(0, 0%, 0%,0.5);
    --color-text-hyperlink: #ff6400;
    --gold-and-glow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 3px rgba(255, 255, 255, .5);
    --red: #5e0000;
    --red-swffg: #490c0b;
    --red-light:#ff0000;
    --custom-trait:#61180e;
    --green: #91a82a;
    --pfui-main-color: #cfbda7;
    --pfui-main-grey-color: #98968a;
    --rpg-styled-ui-color: #837360;
    --primary-remaster: hsl(153, 100%, 8%);
	--primary-light-remaster: hsl(170, 96%, 19%);
    --sta-main-color: #f7e06e;

    
    --border-radius: 3px;
    --border-radius-5: 5px;
    --box-shadow: 0px 1px 2px black;
    --box-shadow-light: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4), inset 0px 0px 3px 1px var(--color-cool-3);
    --text-shadow: 0px 1px 2px black;

    --bg3-blue: #183541;
    --bg3-blue-light: #0c93bd;
    --bg3-alliance-opposition-red: #de1847;
    --button-hover-background: radial-gradient(circle, var(--bg3-alliance-opposition-red) 0, black 100%);
    --button-toggle-hover-background: radial-gradient(circle, var(--bg3-blue-light) 0, var(--bg3-blue) 100%);
    --text-color-1: #f7f3e8;
    --button-hover-text-color: var(--text-color-1);

    --rarity-common: #7e7e7e;
    --rarity-uncommon: #ff6400;
    --rarity-rare: #0062ff;
    --rarity-unique: #e127e1;

    --color-gradient-linear: linear-gradient( 90deg, rgba(0, 0, 0, 1) 0%, rgba(120, 20, 40, 0.5) 50%, rgba(0, 0, 0, 1) 100% );
    --color-gradient-radial: radial-gradient( circle, rgba(0, 0, 0, 1) 0%, rgba(120, 20, 40, 0.5) 50%, rgba(0, 0, 0, 1) 100% );

/* Foundry2
====================================================== */
    --color-light-1: #f7f3e8;
    --color-light-1-90: #f7f3e890;
    --color-light-2: #efe6d8;
    --color-light-2-90: #efe6d890;
    --color-light-3: #e7d1b1;
    --color-light-3-90: #e7d1b190;
    --color-light-4: #d0b8a3;
    --color-light-4-90: #d0b8a390;
    --color-light-5: #9f8475;
    --color-light-5-90: #9f847590;
    --color-light-6: #816b66;
    --color-light-6-90: #816b6690;
    --color-warm-1: #ee9b3a;
    --color-warm-1-90: #ee9b3a90;
    --color-warm-2: #c9593f;
    --color-warm-2-90: #c9593f90;
    --color-warm-3: #5d142b;
    --color-warm-3-90: #5d142b90;
    --color-warm-4: #420418;
    --color-warm-4-90: #42041890;
    --color-warm-5: #26020d;
    --color-warm-5-90: #26020d90;
    --color-cool-1: #b1a0d4;
    --color-cool-1-90: #b1a0d490;
    --color-cool-2: #79689c;
    --color-cool-2-90: #79689c90;
    --color-cool-3: #584a75;
    --color-cool-3-90: #584a7590;
    --color-cool-4: #302831;
    --color-cool-4-90: #30283190;
    --color-cool-5: #0b0a13;
    --color-cool-5-25: rgba(11, 10, 19, 0.25);
    --color-cool-5-50: rgba(11, 10, 19, 0.5);
    --color-cool-5-75: rgba(11, 10, 19, 0.75);
    --color-cool-5-90: rgba(11, 10, 19, 0.9);

    --color-level-error: #ce0707;
    --color-level-error-bg: rgba(105, 0, 8, 0.8);
    --color-level-error-border: #750003;
    --color-level-info: #59a1f6;
    --color-level-info-bg: rgba(47, 80, 132, 0.8);
    --color-level-info-border: #5c87b9;
    --color-level-success: #26b231;
    --color-level-success-bg: rgba(26, 107, 34, 0.8);
    --color-level-success-border: #1b8f23;
    --color-level-warning: #ee9b3a;
    --color-level-warning-bg: rgba(214, 150, 0, 0.8);
    --color-level-warning-border: #b18404;
    --color-scrollbar: #5d142b;
    --color-scrollbar-border: #8d151b;

    --scrollbar-color-thumb: var(--color-cool-5);
    --scrollbar-color-track: none;
    --scrollbar-width: thin;
    --scrollbar-width-legacy: 3px;

    --background:unset;
}
.application,
.theme-light .application {
    --background: var(--color-cool-5-90);
    --color-text-primary: var(--color-light-2);
    --color-header-background: rgba(0, 0, 0, 0.5);
    --color-border: var(--color-cool-4);
    --color-fieldset-border: var(--color-cool-3);
    --color-form-hint: var(--color-light-5);
    --color-form-hint-hover: var(--color-light-4);
    --color-form-label: var(--color-light-4);
    --color-form-label-hover: var(--color-light-3);
    --color-select-option-bg: transparent;
    --input-text-color: var(--color-light-3);
}

/*System
************************/
@font-face {
    font-family: "EarthOrbiter";
    src: url("./fonts/Earth-Orbiter-Bold.otf")format("opentype");
}
@font-face {
    font-family: "MandaloreCondensed";
    src: url("./fonts/Mandalore-Condensed.otf")format("opentype");
}
@font-face {
    font-family: "MandaloreLaserTitle";
    src: url("./fonts/Mandalore-Laser-Title.otf")format("opentype");
}
@font-face {
    font-family: "MandaloreRough";
    src: url("./fonts/Mandalore-Rough.otf")format("opentype");
}
@font-face {
    font-family: "AurebeshBold";
    src: url("./fonts/Aurebesh-Bold.otf")format("opentype");
}
@font-face {
    font-family: "SfDistantGalaxy";
    src: url("./fonts/Sf-Distant-Galaxy.ttf")format("truetype");
}
@font-face {
    font-family: "ToxiUI";
    src: url("./fonts/Toxi-UI.ttf")format("truetype");
}
@font-face {
    font-family: "EotESymbol";
    src: url("./fonts/EotE-Symbol-Regular-PLUS.otf") format("opentype");
  }
@font-face {
    font-family: "GenesysSymbol";
    src: url("./fonts/Genesys.ttf") format("truetype");
}

@keyframes glow {
    from {
      box-shadow: 0 0 1px 1px #ffb351;
    }
    to {
      box-shadow: 0 0 3px 3px #ffb351;
    }
}


/* Mandar theme 
*************************/
.starwarsffg.sheet .sheet-body {
    background: unset!important;
    border-top: unset!important;
    border-image: unset!important;
}
.starwarsffg.sheet .sheet-body {
    height: calc(100% - 14.50rem)!important;
}
.starwarsffg.sheet.v2 .sheet-body.vehicle {
    height: calc(100% - 28rem)!important;
}
.starwarsffg .header-fields .minion-name {
    background: none!important;
}
.starwarsffg .minion .sheet-header .minion-name h1 input {
    text-align: center;
    font-size: larger;
    color: var(--sta-main-color)!important;
    background: var(--color-cool-5-50);
    text-shadow: var(--text-shadow);
}
.starwarsffg .item-sheet-talent .header-fields h1 input, 
.starwarsffg .item-sheet-gear .header-fields h1 input, 
.starwarsffg .item-sheet-weapon .header-fields h1 input, 
.starwarsffg .item-sheet-armor .header-fields h1 input, 
.starwarsffg .item-sheet-vehicle-weapon .header-fields h1 input, 
.starwarsffg .item-sheet-vehicle-attachment .header-fields h1 input, 
.starwarsffg .item-sheet-criticalinjury .header-fields h1 input {
    padding-left:0!important;
}
.starwarsffg .item-sheet-weapon .characteristic-item, 
.starwarsffg .item-sheet-weapon .block-background,
.starwarsffg .item-sheet-armor .characteristic-item, 
.starwarsffg .item-sheet-armor .block-background,
.starwarsffg .item-sheet-gear .characteristic-item, 
.starwarsffg .item-sheet-gear .block-background,
.starwarsffg .item-sheet-vehicle-weapon .characteristic-item, 
.starwarsffg .item-sheet-vehicle-weapon .block-background,
.starwarsffg .item-sheet-vehicle-attachment .characteristic-item, 
.starwarsffg .item-sheet-vehicle-attachment .block-background {
    background-color: var(--color-cool-5-50)!important;
}
.starwarsffg .item-sheet-gear .characteristic-item .characteristic .characteristic-value input, 
.starwarsffg .item-sheet-talent .characteristic-item .characteristic .characteristic-value input, 
.starwarsffg .item-sheet-weapon .characteristic-item .characteristic .characteristic-value input, 
.starwarsffg .item-sheet-armor .characteristic-item .characteristic .characteristic-value input, 
.starwarsffg .item-sheet-vehicle-weapon .characteristic-item .characteristic .characteristic-value input, 
.starwarsffg .item-sheet-vehicle-attachment .characteristic-item .characteristic .characteristic-value input {
    color: var(--sta-main-color);
    background-color: var(--color-cool-5-90);
    text-shadow: var(--text-shadow);
}
.starwarsffg .item-sheet-gear .characteristic-item .characteristic, 
.starwarsffg .item-sheet-talent .characteristic-item .characteristic, 
.starwarsffg .item-sheet-weapon .characteristic-item .characteristic, 
.starwarsffg .item-sheet-armor .characteristic-item .characteristic, 
.starwarsffg .item-sheet-vehicle-weapon .characteristic-item .characteristic, 
.starwarsffg .item-sheet-vehicle-attachment .characteristic-item .characteristic {
    border-radius: 50% !important;
    background: var(--color-cool-5-90) !important;
}
/* Dice Colors
************************/
span.dietype.starwars {
  font-family: "EotESymbol", sans-serif;
}
span.dietype.genesys {
  font-family: "GenesysSymbol", sans-serif;
}
span.dietype.ability {
  color: var(--green)!important;
  text-shadow: var(--text-shadow);
}
span.dietype.advantage {
    color: var(--green)!important;
    text-shadow: var(--text-shadow);
}
span.dietype.boost {
  color: lightskyblue!important;
  text-shadow: var(--text-shadow);
}
span.dietype.challenge {
  color: var(--red-light)!important;
  text-shadow: var(--text-shadow);
}
span.dietype.dark {
    color: var(--color-cool-3-90)!important;
    text-shadow: var(--text-shadow);
}
span.dietype.despair {
    color: var(--color-warm-2)!important;
    text-shadow: var(--text-shadow);
}
span.dietype.difficulty {
  color: var(--rarity-unique)!important;
  text-shadow: var(--text-shadow);
}
span.dietype.forcepoint {
    color: white!important;
    text-shadow: var(--text-shadow);
}
span.dietype.failure {
    color: var(--color-cool-1)!important;
    text-shadow: var(--text-shadow);
}
span.dietype.force {
    color: white!important;
    text-shadow: var(--text-shadow);
}
span.dietype.light {
    color: white!important;
    text-shadow: var(--text-shadow);
}
span.dietype.proficiency {
  color: var(--sta-main-color)!important;
  text-shadow: var(--text-shadow);
}
span.dietype.setback {
    color: var(--color-cool-2-90)!important;
    text-shadow: var(--text-shadow);
}
span.dietype.success {
    color: var(--green)!important;
    text-shadow: var(--text-shadow);
}
span.dietype.threat {
  color: var(--color-cool-1)!important;
  text-shadow: var(--text-shadow);
}
span.dietype.triumph {
    color: var(--color-warm-1)!important;
    text-shadow: var(--text-shadow);
}
.starwarsffg span.dietype.starwars {
    font-family: "EotESymbol", sans-serif;
}
.starwarsffg span.dietype.genesys {
    font-family: "GenesysSymbol", sans-serif;
}
.starwarsffg span.dietype.ability {
    color: var(--green)!important;
    text-shadow: var(--text-shadow);
}
.starwarsffg span.dietype.advantage {
    color: var(--green)!important;
    text-shadow: var(--text-shadow);
}
.starwarsffg span.dietype.boost {
    color: lightskyblue!important;
    text-shadow: var(--text-shadow);
}
.starwarsffg span.dietype.challenge {
    color: var(--red-light)!important;
    text-shadow: var(--text-shadow);
}
.starwarsffg span.dietype.dark {
    color: var(--color-cool-3-90)!important;
    text-shadow: var(--text-shadow);
}
.starwarsffg span.dietype.despair {
    color: var(--color-warm-2)!important;
    text-shadow: var(--text-shadow);
}
.starwarsffg span.dietype.difficulty {
    color: var(--rarity-unique)!important;
    text-shadow: var(--text-shadow);
}
.starwarsffg span.dietype.forcepoint {
    color: white!important;
    text-shadow: var(--text-shadow);
}
.starwarsffg span.dietype.failure {
    color: var(--color-cool-1)!important;
    text-shadow: var(--text-shadow);
}
.starwarsffg span.dietype.force {
    color: white!important;
    text-shadow: var(--text-shadow);
}
.starwarsffg span.dietype.light {
    color: white!important;
    text-shadow: var(--text-shadow);
}
.starwarsffg span.dietype.proficiency {
    color: var(--sta-main-color)!important;
    text-shadow: var(--text-shadow);
}
.starwarsffg span.dietype.setback {
    color: var(--color-cool-3-90)!important;
    text-shadow: var(--text-shadow);
}
.starwarsffg span.dietype.success {
    color: var(--green)!important;
    text-shadow: var(--text-shadow);
}
.starwarsffg span.dietype.threat {
    color: var(--color-cool-1)!important;
    text-shadow: var(--text-shadow);
}
.starwarsffg span.dietype.triumph {
    color: var(--color-warm-1)!important;
    text-shadow: var(--text-shadow);
}
/* Item card
**************************/
.starwarsffg.item-card .card-header.collapsible {
    border: unset;
    color: var(--pfui-main-color);
    background: unset;
    border-radius: unset;
    text-shadow: var(--text-shadow);
    text-align: center;
}
.starwarsffg.item-card .card-header.flexrow,
.starwarsffg.item-card .card-header .title {
    font-family: 'EarthOrbiter';
    font-size: 1.25em;
    color: unset;
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding: 4px 2px 4px 2px;
    background: linear-gradient(45deg, var(--color-cool-4), var(--color-cool-5-25));
    border: 1px dotted var(--red);
    filter: drop-shadow(0px 1px 1px black);
    --notchSize: 0.25rem;
    -webkit-clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
}
.starwarsffg.item-card .card-header.collapsible .title b {
    padding: unset;
}
.starwarsffg.item-card .card-header.collapsible .summary {
    padding: inherit;
}
.starwarsffg.item-card .card-header.collapsible .icon {
    box-shadow: var(--box-shadow);
    background: linear-gradient(45deg, var(--color-cool-3), var(--color-cool-5-50));
    border-radius: var(--border-radius-5);
    text-shadow: 0 0 15px var(--red-light);
    filter: drop-shadow(0px 1px 1px black);
    border: 1px solid var(--red);
}
.starwarsffg.item-card .name-stacked.border {
    border-right: unset;
    color: var(--color-light-2);
    font-style: italic;
    text-transform: uppercase;
}
.starwarsffg.item-card .card-header.collapsible .stat {
    padding: 0px 3px 0px 3px;
    --icon-color: #ff595e;
    color: var(--icon-color);
    font-weight: 600;
    text-shadow: var(--text-shadow);
}
.starwarsffg.item-card .card-header.collapsible .stat i.fa-mug-hot:before,
.starwarsffg.item-card .card-header.collapsible .stat i.fa-wrench:before {
    --icon-color: #dc9456;
    color: var(--icon-color);
    text-shadow: var(--text-shadow);
}
.starwarsffg.item-card .card-header.collapsible .stat i.fa-search:before,
.starwarsffg.item-card .card-header.collapsible .stat i.fa-level-up-alt:before, 
.starwarsffg.item-card .card-header.collapsible .stat i.fa-turn-up:before,
.starwarsffg.item-card .card-header.collapsible .stat i.fa-magnifying-glass:before {
    color: var(--color-cool-1);
    text-shadow: var(--text-shadow);
}
.starwarsffg.item-card .card-header.collapsible .stat i.fa-hand-fist:before {
    --icon-color: #ff595e;
    color: var(--icon-color);
    text-shadow: var(--text-shadow);
}
.starwarsffg.item-card .card-header.collapsible .stat i.fa-skull:before {
    color: var(--bg3-alliance-opposition-red);
    text-shadow: var(--text-shadow);
}
.starwarsffg.item-card .card-header.collapsible .stat i.fa-jedi:before,
.starwarsffg.item-card .card-header.collapsible .stat i.fa-bullseye:before {
    color: var(--green);
    text-shadow: var(--text-shadow);
}
.starwarsffg.item-card .card-header.collapsible .stat i.fa-dollar-sign:before {
    --icon-color: #aab0b3;
    color: var(--icon-color);
    text-shadow: var(--text-shadow);
}
.starwarsffg.item-card .card-header.collapsible .stat i.fa-weight-hanging:before {
    color: var(--color-warm-1);
    text-shadow: var(--text-shadow);
}
.starwarsffg.item-card .card-header.collapsible .stat i.fa-first-aid:before, 
.starwarsffg.item-card .card-header.collapsible .stat i.fa-kit-medical:before {
    --icon-color: #1fb222;
    color: var(--icon-color);
    text-shadow: var(--text-shadow);
}
.starwarsffg.item-card .card-header.collapsible .stat.stat-right {
    border-right: 2px groove var(--color-light-5-90);
    color: var(--color-light-1);
}
.starwarsffg.item-card .stat.not-present {
  color: gray;
}
.starwarsffg.item-card .name-stacked.border .subtitle {
    color: var(--sta-main-color);
    font-size: large;
    padding: 0 0 3px;
}
.starwarsffg.item-card .stat.stat-right .restricted {
    color: var(--red-light);
    padding: inherit;
    animation: glow 0.25s infinite alternate;
}
.starwarsffg.item-card i.fas.fa-fw.collapse-toggle.fa-chevron-down::before,
.starwarsffg.item-card i.fas.fa-fw.collapse-toggle.fa-chevron-left::before {
    color: var(--bg3-alliance-opposition-red);
    text-shadow: var(--text-shadow);
}
.starwarsffg.item-card .card-content.details {
    text-align: justify;
    padding: 4px;
    background: linear-gradient(45deg, var(--color-cool-4), var(--color-cool-5-25));
    border: 1px dotted var(--red);
    filter: drop-shadow(0px 1px 1px black);
    --notchSize: 0.25rem;
    -webkit-clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
}
.starwarsffg.item-card .card-content.details h3 {
    text-shadow: var(--text-shadow);
    margin: 0.5rem 0 0.25rem;
    border-bottom: 1px dotted var(--red-swffg);
}
.starwarsffg.item-card .properties ul {
    padding: 0;
    margin: 0.25rem 0;
}
.starwarsffg.item-card .properties b {
    --color-warm-1: var(--color-light-2);
    color: var(--color-warm-1);
}
.starwarsffg.item-card .wrapper .properties {
    margin: 5px;
    text-align: center;
}
.starwarsffg.item-card .wrapper .properties .tag {
    color: var(--pfui-main-color);
    border: 1px solid var(--color-warm-1);
    border-radius: 0;
    background: var(--red);
    text-shadow: var(--text-shadow);
    text-align: center;
}
.starwarsffg.item-card .wrapper .properties .tag .item-pill {
    color: var(--color-light-1);
    text-shadow: var(--text-shadow);
}
/* Destiny tracker
*************************/
#destiny-tracker {
  box-shadow: none;
  background: transparent;
  position: absolute;
  /* Dropdown Button */
  /* Dropdown button on hover & focus */
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu on hover */
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
}
#destiny-tracker .window-content {
    box-shadow: unset;
    background-color: unset!important;
    margin: unset;
    backdrop-filter: unset;
    filter: unset;
    border: none;
}
#destiny-tracker header.window-header {
  display: none;
}
.swffg-destiny .group-manager {
    padding: 1px 0px 0px 2px;
}
#destiny-tracker .dropbtn {
  color: white;
  font-size: 12px;
  border: none;
  cursor: pointer;
  text-shadow: 0 0 5px black;
}
#destiny-tracker .dropbtn i {
  margin: 0;
}
#destiny-tracker .dropbtn:hover, #destiny-tracker .dropbtn:focus {
  background-color: var(--color-cool-5-90);
  box-shadow: 0 0 1rem #ff6400;
}
#destiny-tracker .dropdown {
  position: relative;
  display: inline-block;
}
#destiny-tracker .dropdown-content {
  display: contents;
  position: absolute;
  max-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
#destiny-tracker .dropdown-content a {
    padding: 8px 4px!important;
    text-decoration: none;
    display: grid;
    font-size: 15px;
    color: var(--pfui-main-color);
    background: var(--color-cool-5);
    border-radius: 5px;
    text-shadow: 0 0 15px var(--red-light);
    filter: drop-shadow(0px 1px 1px black);
    margin-bottom: 5px;
    width: 100%!important;
}
#destiny-tracker .dropdown-content a:hover {
    color:var(--color-warm-1);
    text-shadow: 0 0 15px var(--red-light);
}
#destiny-tracker .dropdown:hover .dropbtn {
  --color-text-hyperlink: #ff6400;
  background-color: var(--color-text-hyperlink);
}
#destiny-tracker .show {
  display: block;
  width: 200%;
}
#destiny-tracker .show a:hover {
    --color-text-hyperlink: #ff6400;
    background-color: var(--color-text-hyperlink);
}
.swffg-destiny-container {
  margin-left: auto;
  margin-right: auto;
}
.swffg-destiny {
  box-sizing: content-box;
  color: var(--pfui-main-color);
  font-family: "Roboto Condensed", sans-serif!important;
  font-size: 2rem;
  height: auto;
  bottom: 0px;
  line-height: auto;
  margin: 0.5rem;
  pointer-events: none;
  text-align: center;
  width: auto;
  display: flex;
  z-index: 70;
  background: unset;
  border: unset;
  border-radius: 5px;
  box-shadow: unset;
  gap: 2px;
}
.swffg-destiny.swffg-groupmanager {
  pointer-events: auto;
}
.starwarsffg .group-manager {
    color: var(--color-cool-1)!important;
}
.swffg-destiny #destinyLight {
  background: var(--color-cool-5-90) url("./artwork/dice/starwars/lightside.webp") no-repeat center!important;
  background-size: contain!important;
}
.swffg-destiny #destinyDark {
  background: var(--color-cool-5-90) url("./artwork/dice/starwars/darkside.webp") no-repeat center!important;
  background-size: contain!important;
}
.swffg-destiny .destiny-points {
    flex: 0 0 4rem;
    position: relative;
    cursor: pointer;
    padding: 0.25rem;
    pointer-events: auto;
    margin: 0.25rem;
    width: 4rem;
    height: 4rem;
    line-height: 3.25rem;
    text-shadow: 1px 2px 1px black;
    border-radius: 50%;
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.75);
    --color-text-hyperlink: #ff6400;
    color: var(--color-text-hyperlink);
    font-size: xxx-large;
    font-weight: bold;
    filter: drop-shadow(0px 1px 1px black);
}
.swffg-destiny .destiny-points:hover {
    box-shadow: 0 0 1.2rem #ff6400;
    filter: drop-shadow( 0 0 5px var(--red-light));
    animation: glow 0.75s infinite alternate;
}
.swffg-destiny .destiny-points span {
  bottom: 0;
  color: var(--color-warm-1);
  font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
  text-transform: uppercase;
  text-shadow: var(--text-shadow);
  font-size: 0.75rem;
  left: 50%;
  line-height: 0.5rem;
  position: absolute;
  transform: translateX(-50%);
  width: 80px;
}
.swffg-destiny #context-menu {
  font-size: 0.875rem;
}
.ffg-destiny-roll {
  cursor: pointer;
}
.starwarsffg.sheet.item.v2 {
    background-color: unset!important;
}